{% load static %}
{% load staticfiles %}

<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
      <meta name="description" content="ArchiTasker - Week Planner Made Simple">
      <meta name="author" content="">

      <!-- Include Favicon -->
      <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
      <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

      <title>ArchiTasker - Week Planner Made Simple</title>

      <!-- Bootstrap core CSS -->
      <link href="{% static 'css/HOME_PAGE_CSS/bootstrap.min.css' %}" rel="stylesheet">

      <!-- Custom Google Web Font -->
      <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
      <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  	  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

      <!-- Custom CSS-->
      <link href="{% static 'css/HOME_PAGE_CSS/general.css' %}" rel="stylesheet">

    	 <!-- Owl-Carousel -->
      <link href="{% static 'css/HOME_PAGE_CSS/custom.css' %}" rel="stylesheet">
      <link href="{% static 'css/HOME_PAGE_CSS/owl.carousel.css' %}" rel="stylesheet">
      <link href="{% static 'css/HOME_PAGE_CSS/owl.theme.css' %}" rel="stylesheet">
    	<link href="{% static 'css/HOME_PAGE_CSS/style.css' %}" rel="stylesheet">
    	<link href="{% static 'css/HOME_PAGE_CSS/animate.css' %}" rel="stylesheet">

      {% block head_extras %}

      {% endblock %}

    	<!-- Magnific Popup core CSS file -->
    	<link rel="stylesheet" href="{% static 'css/HOME_PAGE_CSS/magnific-popup.css' %}">

    	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>  <!-- Modernizr /-->
    	<script src="{% static 'js/PIE_IE9.js' %}"></script>
    	<script src="{% static 'js/PIE_IE678.js' %}"></script>

  	<!--[if lt IE 9]>
  		<script src="js/html5shiv.js"></script>
  	<![endif]-->
</head>


  <!-- INHERIT THIS CODE FROM OTHER TEMPS -->

  <!-- NavBar-->
  <nav class="navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Architasker</a>
      </div>

      <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
        <ul class="nav navbar-nav">

          <li class="menuItem"><a href="/">Home</a></li>
          <li class="menuItem"><a href="#whatis">What Are We?</a></li>
          <li class="menuItem"><a href="/login">Login</a></li>
          <li class="menuItem"><a href="/register">Signup</a></li>
          <!-- <li class="menuItem"><a href="#credits">Meet the Team</a></li> -->
          <!-- <li class="menuItem"><a href="#contact">Contact</a></li> -->
        </ul>
      </div>

    </div>
  </nav>

  {% block body_block %}



  {% endblock %}

  <!-- JavaScript -->
  <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/owl.carousel.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <!-- StikyMenu -->
  <script src="{% static 'js/stickUp.min.js' %}"></script>
  <script type="text/javascript">

  jQuery(function($) {
    $(document).ready( function() {
      $('.navbar-default').stickUp();

    });
  });

	</script>


  <script>
  	$(document).ready(function () {
      	$('#logo').addClass('animated fadeInDown');
      	$("input:text:visible:first").focus();
  	});
  	$('#username').focus(function() {
  		$('label[for="username"]').addClass('selected');
  	});
  	$('#username').blur(function() {
  		$('label[for="username"]').removeClass('selected');
  	});
  	$('#password').focus(function() {
  		$('label[for="password"]').addClass('selected');
  	});
  	$('#password').blur(function() {
  		$('label[for="password"]').removeClass('selected');
  	});
  </script>



	<!-- Smoothscroll -->
	<script type="text/javascript" src="{% static 'js/jquery.corner.js' %}"></script>
	<script src="{% static 'js/wow.min.js' %}"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="{% static 'js/classie.js' %}"></script>
	<script src="{% static 'js/uiMorphingButton_inflow.js' %}"></script>
  <!-- LOGIN -->
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='{% static "js/da0415260bc83974687e3f9ae.js" %}'></script>
  <script src="{% static 'js/index.js' %}"></script>
  <!-- END LOGIN -->
	<!-- Magnific Popup core JS file -->
	<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
</body>

</html>
