{% load static %}
{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	{% include 'css.html' %}
	{% include 'javascript.html' %}
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Include Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

	<title>ArchiTasker - Week Planner Made Simple</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{% static 'css/DASHBOARD_CSS/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Button CSS -->
    <link href="{% static 'css/SETTINGS_PAGE_CSS/arrow_button.css' %}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static 'css/DASHBOARD_CSS/animate.min.css' %}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static 'css/DASHBOARD_CSS/light-bootstrap-dashboard.css' %}" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'css/DASHBOARD_CSS/demo.css' %}" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <!-- <link href="{% static 'css/DASHBOARD_CSS/pe-icon-7-stroke.css' %}" rel="stylesheet" /> -->

    <style>

        .footer{
            position: absolute;
            left: 0;
            bottom: 0;
            height: 60px;
            width: 100%;
            overflow:hidden;
        }

    </style>

    </head>
<body>

    <div class="wrapper">
        <div class="sidebar" data-color="azure" data-image="{% static 'img/DASHBOARD_IMAGES/sidebar-4.jpg' %}">


            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text">
                        Architasker
                    </a>
                </div>

                <ul class="nav">
                    <li >
                        <a href="/dashboard">
                            <i class="pe-7s-news-paper"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/settings">
                            <i class="pe-7s-user"></i>
                            <p>User Settings</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Settings</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-dashboard"></i>
                                </a>
                            </li>
                            <!-- <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-globe"></i>
                                        <b class="caret"></b>
                                        <span class="notification">5</span>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a href="#">Notification 1</a></li>
                                    <li><a href="#">Notification 2</a></li>
                                    <li><a href="#">Notification 3</a></li>
                                    <li><a href="#">Notification 4</a></li>
                                    <li><a href="#">Another notification</a></li>
                                  </ul>
                            </li> -->
                            <!-- <li>
                               <a href="">
                                    <i class="fa fa-search"></i>
                                </a>
                            </li> -->
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                               <a href="">
                                   Account
                                </a>
                            </li>
                            <!-- <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        Dropdown
                                        <b class="caret"></b>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                  </ul>
                            </li> -->
                            <li>
                                <a href="/logout">
                                    Log out
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- <center><div class="card"> -->
                <div id="tabs" class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#nameinfo">Change Name</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#passinfo">Change Password</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#emailinfo">Change Email</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#tzinfo">Change Time Zone</a>
                        </li>
                    </ul>
                    <div class="tab-content col-md-10">
                        <div id='nameinfo' class="tab-pane fade in active">
                            <form id="savename" action="settingsavename" method="POST">
                                {% csrf_token %}
                                <label for="firstname">First Name</label>
                                <br/>
                                <input type="text" class="form-control" id="firstname" name="first_name">
                                <br/>
                                <label for="lastname">Last Name</label>
                                <br/>
                                <input type="text" class="form-control" id="lastname" name="last_name">
                                <br/>
                                <button type="submit" class="btn blue">Save</button>
                            </form>
                        </div>
                        <div id='namesuccess'><p>Name Changed Successfully!</p></div>
                        <div id='passinfo' class="tab-pane fade">
                            <form id="savepass" action="settingsavepassword" method="POST">
                                {% csrf_token %}
                                <label for="oldpass">Old Password</label>
                                <br/>
                                <input type="password" class="form-control" id="oldpass"  name="old_pass">
                                <br/>
                                <label for="newpass">New Password</label>
                                <br/>
                                <input type="password" class="form-control" id="newpass" name="new_pass">
                                <br/>
                                <label for="newpass2">New Password(Again)</label>
                                <br/>
                                <input type="password" class="form-control" id="newpass2" name="new_pass2">
                                <br/>
                                <button type="submit" class="btn blue">Save</button>
                            </form>
                        </div>
                        <div id='passsuccess'><p>Password Changed Successfully!</p></div>
                        <div id='emailinfo' class="tab-pane fade">
                            <button id='hideshowcurremail' class="btn orange small">Show Current Email</button>
                            <div id='currentemail' style="display:none"><p>{{user.email}}</p></div>
                            <form id="saveemail" action="settingsaveemail" method="POST">
                                {% csrf_token %}
                                <label for="email">Email</label>
                                <br/>
                                <input type="text" class="form-control" id="email"  name="email">
                                <br/>
                                <button type="submit" class="btn blue">Save</button>
                            </form>
                        </div>
                        <div id='emailsuccess'><p>Email Changed Successfully!</p></div>
                        <div id='tzinfo' class="form-group tab-pane fade">
                            <div id="errormsgtz"><p style="color: #c0392b"></p></div> 
                            <button id='hideshowcurrtz' class="btn orange small">Show Current Time Zone</button></br>
                                <div id='currenttz' style="display:none"><p>{{time_zone}}</p></div>
                            <button id="tzDrop" class="btn green small">Time Zones</button>
                                <div id="tzDropdown" style="display:none">
                                    <ul class="dropdown-content" role="menu">
                                        <li>America/Puerto_Rico</li><li>America/New_York</li><li>America/Chicago</li><li>America/Denver</li>
                                        <li>America/Phoenix</li><li>America/Los_Angeles</li><li>America/Anchorage</li><li>Pacific/Honolulu</li>
                                        <li>America/Adak</li><li>America/Anchorage</li><li>America/Anguilla</li><li>America/Antigua</li>
                                        <li>America/Araguaina</li><li>America/Argentina/Buenos_Aires</li><li>America/Argentina/Catamarca</li>
                                        <li>America/Argentina/ComodRivadavia</li><li>America/Argentina/Cordoba</li><li>America/Argentina/Jujuy</li>
                                        <li>America/Argentina/La_Rioja</li><li>America/Argentina/Mendoza</li><li>America/Argentina/Rio_Gallegos</li>
                                        <li>America/Argentina/Salta</li><li>America/Argentina/San_Juan</li><li>America/Argentina/San_Luis</li>
                                        <li>America/Argentina/Tucuman</li><li>America/Argentina/Ushuaia</li><li>America/Aruba</li>
                                        <li>America/Asuncion</li><li>America/Atikokan</li><li>America/Atka</li><li>America/Bahia</li>
                                        <li>America/Barbados</li><li>America/Belem</li><li>America/Belize</li><li>America/Blanc-Sablon</li>
                                        <li>America/Boa_Vista</li><li>America/Bogota</li><li>America/Boise</li><li>America/Buenos_Aires</li>
                                        <li>America/Cambridge_Bay</li><li>America/Campo_Grande</li><li>America/Cancun</li><li>America/Caracas</li>
                                        <li>America/Catamarca</li><li>America/Cayenne</li><li>America/Cayman</li><li>America/Chicago</li>
                                        <li>America/Chihuahua</li><li>America/Coral_Harbour</li><li>America/Cordoba</li><li>America/Costa_Rica</li>
                                        <li>America/Cuiaba</li><li>America/Curacao</li><li>America/Danmarkshavn</li><li>America/Dawson</li>
                                        <li>America/Dawson_Creek</li><li>America/Denver</li><li>America/Detroit</li><li>America/Dominica</li>
                                        <li>America/Edmonton</li><li>America/Eirunepe</li><li>America/El_Salvador</li><li>America/Ensenada</li>
                                        <li>America/Fortaleza</li><li>America/Fort_Wayne</li><li>America/Glace_Bay</li><li>America/Godthab</li>
                                        <li>America/Goose_Bay</li><li>America/Grand_Turk</li><li>America/Grenada</li><li>America/Guadeloupe</li>
                                        <li>America/Guatemala</li><li>America/Guayaquil</li><li>America/Guyana</li><li>America/Halifax</li>
                                        <li>America/Havana</li><li>America/Hermosillo</li><li>America/Indiana/Indianapolis</li>
                                        <li>America/Indiana/Knox</li><li>America/Indiana/Marengo</li><li>America/Indiana/Petersburg</li>
                                        <li>America/Indiana/Tell_City</li><li>America/Indiana/Vevay</li><li>America/Indiana/Vincennes</li>
                                        <li>America/Indiana/Winamac</li><li>America/Indianapolis</li><li>America/Inuvik</li><li>America/Iqaluit</li>
                                        <li>America/Jamaica</li><li>America/Jujuy</li><li>America/Juneau</li><li>America/Kentucky/Louisville</li>
                                        <li>America/Kentucky/Monticello</li><li>America/Knox_IN</li><li>America/La_Paz</li><li>America/Lima</li>
                                        <li>America/Los_Angeles</li><li>America/Louisville</li><li>America/Maceio</li><li>America/Managua</li>
                                        <li>America/Manaus</li><li>America/Marigot</li><li>America/Martinique</li><li>America/Matamoros</li>
                                        <li>America/Mazatlan</li><li>America/Mendoza</li><li>America/Menominee</li><li>America/Merida</li>
                                        <li>America/Mexico_City</li><li>America/Miquelon</li><li>America/Moncton</li><li>America/Monterrey</li>
                                        <li>America/Montevideo</li><li>America/Montreal</li><li>America/Montserrat</li><li>America/Nassau</li>
                                        <li>America/New_York</li><li>America/Nipigon</li><li>America/Nome</li><li>America/Noronha</li>
                                        <li>America/North_Dakota/Center</li><li>America/North_Dakota/New_Salem</li><li>America/Ojinaga</li>
                                        <li>America/Panama</li><li>America/Pangnirtung</li><li>America/Paramaribo</li><li>America/Phoenix</li>
                                        <li>America/Port-au-Prince</li><li>America/Porto_Acre</li><li>America/Port_of_Spain</li>
                                        <li>America/Porto_Velho</li><li>America/Puerto_Rico</li><li>America/Rainy_River</li>
                                        <li>America/Rankin_Inlet</li><li>America/Recife</li><li>America/Regina</li><li>America/Resolute</li>
                                        <li>America/Rio_Branco</li><li>America/Rosario</li><li>America/Santa_Isabel</li><li>America/Santarem</li>
                                        <li>America/Santiago</li><li>America/Santo_Domingo</li><li>America/Sao_Paulo</li>
                                        <li>America/Scoresbysund</li><li>America/Shiprock</li><li>America/St_Barthelemy</li>
                                        <li>America/St_Johns</li><li>America/St_Kitts</li><li>America/St_Lucia</li><li>America/St_Thomas</li>
                                        <li>America/St_Vincent</li><li>America/Swift_Current</li><li>America/Tegucigalpa</li><li>America/Thule</li>
                                        <li>America/Thunder_Bay</li><li>America/Tijuana</li><li>America/Toronto</li><li>America/Tortola</li>
                                        <li>America/Vancouver</li><li>America/Virgin</li><li>America/Whitehorse</li><li>America/Winnipeg</li>
                                        <li>America/Yakutat</li><li>America/Yellowknife</li><li>Europe/Amsterdam</li><li>Europe/Andorra</li>
                                        <li>Europe/Athens</li><li>Europe/Belfast</li><li>Europe/Belgrade</li><li>Europe/Berlin</li>
                                        <li>Europe/Bratislava</li><li>Europe/Brussels</li><li>Europe/Bucharest</li><li>Europe/Budapest</li>
                                        <li>Europe/Chisinau</li><li>Europe/Copenhagen</li><li>Europe/Dublin</li><li>Europe/Gibraltar</li>
                                        <li>Europe/Guernsey</li><li>Europe/Helsinki</li><li>Europe/Isle_of_Man</li><li>Europe/Istanbul</li>
                                        <li>Europe/Jersey</li><li>Europe/Kaliningrad</li><li>Europe/Kiev</li><li>Europe/Lisbon</li>
                                        <li>Europe/Ljubljana</li><li>Europe/London</li><li>Europe/Luxembourg</li><li>Europe/Madrid</li>
                                        <li>Europe/Malta</li><li>Europe/Mariehamn</li><li>Europe/Minsk</li><li>Europe/Monaco</li>
                                        <li>Europe/Moscow</li><li>Europe/Nicosia</li><li>Europe/Oslo</li><li>Europe/Paris</li>
                                        <li>Europe/Podgorica</li><li>Europe/Prague</li><li>Europe/Riga</li><li>Europe/Rome</li>
                                        <li>Europe/Samara</li><li>Europe/San_Marino</li><li>Europe/Sarajevo</li><li>Europe/Simferopol</li>
                                        <li>Europe/Skopje</li><li>Europe/Sofia</li><li>Europe/Stockholm</li><li>Europe/Tallinn</li>
                                        <li>Europe/Tirane</li><li>Europe/Tiraspol</li><li>Europe/Uzhgorod</li><li>Europe/Vaduz</li>
                                        <li>Europe/Vatican</li><li>Europe/Vienna</li><li>Europe/Vilnius</li><li>Europe/Volgograd</li>
                                        <li>Europe/Warsaw</li><li>Europe/Zagreb</li><li>Europe/Zaporozhye</li><li>Europe/Zurich</li>
                                        <li>Asia/Aden</li><li>Asia/Almaty</li><li>Asia/Amman</li><li>Asia/Anadyr</li>
                                        <li>Asia/Aqtau</li><li>Asia/Aqtobe</li><li>Asia/Ashgabat</li><li>Asia/Ashkhabad</li>
                                        <li>Asia/Baghdad</li><li>Asia/Bahrain</li><li>Asia/Baku</li><li>Asia/Bangkok</li>
                                        <li>Asia/Beirut</li><li>Asia/Bishkek</li><li>Asia/Brunei</li><li>Asia/Calcutta</li>
                                        <li>Asia/Choibalsan</li><li>Asia/Chongqing</li><li>Asia/Chungking</li><li>Asia/Colombo</li>
                                        <li>Asia/Dacca</li><li>Asia/Damascus</li><li>Asia/Dhaka</li><li>Asia/Dili</li>
                                        <li>Asia/Dubai</li><li>Asia/Dushanbe</li><li>Asia/Gaza</li><li>Asia/Harbin</li>
                                        <li>Asia/Ho_Chi_Minh</li><li>Asia/Hong_Kong</li><li>Asia/Hovd</li><li>Asia/Irkutsk</li>
                                        <li>Asia/Istanbul</li><li>Asia/Jakarta</li><li>Asia/Jayapura</li><li>Asia/Jerusalem</li>
                                        <li>Asia/Kabul</li><li>Asia/Kamchatka</li><li>Asia/Karachi</li><li>Asia/Kashgar</li>
                                        <li>Asia/Kathmandu</li><li>Asia/Katmandu</li><li>Asia/Kolkata</li><li>Asia/Krasnoyarsk</li>
                                        <li>Asia/Kuala_Lumpur</li><li>Asia/Kuching</li><li>Asia/Kuwait</li><li>Asia/Macao</li>
                                        <li>Asia/Macau</li><li>Asia/Magadan</li><li>Asia/Makassar</li><li>Asia/Manila</li>
                                        <li>Asia/Muscat</li><li>Asia/Nicosia</li><li>Asia/Novokuznetsk</li><li>Asia/Novosibirsk</li>
                                        <li>Asia/Omsk</li><li>Asia/Oral</li><li>Asia/Phnom_Penh</li><li>Asia/Pontianak</li>
                                        <li>Asia/Pyongyang</li><li>Asia/Qatar</li><li>Asia/Qyzylorda</li><li>Asia/Rangoon</li>
                                        <li>Asia/Riyadh</li><li>Asia/Saigon</li><li>Asia/Sakhalin</li><li>Asia/Samarkand</li>
                                        <li>Asia/Seoul</li><li>Asia/Shanghai</li><li>Asia/Singapore</li><li>Asia/Taipei</li>
                                        <li>Asia/Tashkent</li><li>Asia/Tbilisi</li><li>Asia/Tehran</li><li>Asia/Tel_Aviv</li>
                                        <li>Asia/Thimbu</li><li>Asia/Thimphu</li><li>Asia/Tokyo</li><li>Asia/Ujung_Pandang</li>
                                        <li>Asia/Ulaanbaatar</li><li>Asia/Ulan_Bator</li><li>Asia/Urumqi</li><li>Asia/Vientiane</li>
                                        <li>Asia/Vladivostok</li><li>Asia/Yakutsk</li><li>Asia/Yekaterinburg</li><li>Asia/Yerevan</li>
                                        <li>Africa/Abidjan</li><li>Africa/Accra</li><li>Africa/Addis_Ababa</li><li>Africa/Algiers</li>
                                        <li>Africa/Asmara</li><li>Africa/Asmera</li><li>Africa/Bamako</li><li>Africa/Bangui</li>
                                        <li>Africa/Banjul</li><li>Africa/Bissau</li><li>Africa/Blantyre</li><li>Africa/Brazzaville</li>
                                        <li>Africa/Bujumbura</li><li>Africa/Cairo</li><li>Africa/Casablanca</li><li>Africa/Ceuta</li>
                                        <li>Africa/Conakry</li><li>Africa/Dakar</li><li>Africa/Dar_es_Salaam</li><li>Africa/Djibouti</li>
                                        <li>Africa/Douala</li><li>Africa/El_Aaiun</li><li>Africa/Freetown</li><li>Africa/Gaborone</li>
                                        <li>Africa/Harare</li><li>Africa/Johannesburg</li><li>Africa/Kampala</li><li>Africa/Khartoum</li>
                                        <li>Africa/Kigali</li><li>Africa/Kinshasa</li><li>Africa/Lagos</li><li>Africa/Libreville</li>
                                        <li>Africa/Lome</li><li>Africa/Luanda</li><li>Africa/Lubumbashi</li><li>Africa/Lusaka</li>
                                        <li>Africa/Malabo</li><li>Africa/Maputo</li><li>Africa/Maseru</li><li>Africa/Mbabane</li>
                                        <li>Africa/Mogadishu</li><li>Africa/Monrovia</li><li>Africa/Nairobi</li><li>Africa/Ndjamena</li>
                                        <li>Africa/Niamey</li><li>Africa/Nouakchott</li><li>Africa/Ouagadougou</li><li>Africa/Porto-Novo</li>
                                        <li>Africa/Sao_Tome</li><li>Africa/Timbuktu</li><li>Africa/Tripoli</li><li>Africa/Tunis</li>
                                        <li>Africa/Windhoek</li><li>Australia/ACT</li><li>Australia/Adelaide</li><li>Australia/Brisbane</li>
                                        <li>Australia/Broken_Hill</li><li>Australia/Canberra</li><li>Australia/Currie</li><li>Australia/Darwin</li>
                                        <li>Australia/Eucla</li><li>Australia/Hobart</li><li>Australia/LHI</li><li>Australia/Lindeman</li>
                                        <li>Australia/Lord_Howe</li><li>Australia/Melbourne</li><li>Australia/North</li><li>Australia/NSW</li>
                                        <li>Australia/Perth</li><li>Australia/Queensland</li><li>Australia/South</li><li>Australia/Sydney</li>
                                        <li>Australia/Tasmania</li><li>Australia/Victoria</li><li>Australia/West</li><li>Australia/Yancowinna</li>
                                        <li>Indian/Antananarivo</li><li>Indian/Chagos</li><li>Indian/Christmas</li><li>Indian/Cocos</li>
                                        <li>Indian/Comoro</li><li>Indian/Kerguelen</li><li>Indian/Mahe</li><li>Indian/Maldives</li>
                                        <li>Indian/Mauritius</li><li>Indian/Mayotte</li><li>Indian/Reunion</li><li>Atlantic/Azores</li>
                                        <li>Atlantic/Bermuda</li><li>Atlantic/Canary</li><li>Atlantic/Cape_Verde</li><li>Atlantic/Faeroe</li>
                                        <li>Atlantic/Faroe</li><li>Atlantic/Jan_Mayen</li><li>Atlantic/Madeira</li><li>Atlantic/Reykjavik</li>
                                        <li>Atlantic/South_Georgia</li><li>Atlantic/Stanley</li><li>Atlantic/St_Helena</li><li>Pacific/Apia</li>
                                        <li>Pacific/Auckland</li><li>Pacific/Chatham</li><li>Pacific/Easter</li><li>Pacific/Efate</li>
                                        <li>Pacific/Enderbury</li><li>Pacific/Fakaofo</li><li>Pacific/Fiji</li><li>Pacific/Funafuti</li>
                                        <li>Pacific/Galapagos</li><li>Pacific/Gambier</li><li>Pacific/Guadalcanal</li><li>Pacific/Guam</li>
                                        <li>Pacific/Honolulu</li><li>Pacific/Johnston</li><li>Pacific/Kiritimati</li><li>Pacific/Kosrae</li>
                                        <li>Pacific/Kwajalein</li><li>Pacific/Majuro</li><li>Pacific/Marquesas</li><li>Pacific/Midway</li>
                                        <li>Pacific/Nauru</li><li>Pacific/Niue</li><li>Pacific/Norfolk</li><li>Pacific/Noumea</li>
                                        <li>Pacific/Pago_Pago</li><li>Pacific/Palau</li><li>Pacific/Pitcairn</li><li>Pacific/Ponape</li>
                                        <li>Pacific/Port_Moresby</li><li>Pacific/Rarotonga</li><li>Pacific/Saipan</li><li>Pacific/Samoa</li>
                                        <li>Pacific/Tahiti</li><li>Pacific/Tarawa</li><li>Pacific/Tongatapu</li><li>Pacific/Truk</li>
                                        <li>Pacific/Wake</li><li>Pacific/Wallis</li><li>Pacific/Yap</li><li>Antarctica/Casey</li>
                                        <li>Antarctica/Davis</li><li>Antarctica/DumontDUrville</li><li>Antarctica/Macquarie</li>
                                        <li>Antarctica/Mawson</li><li>Antarctica/McMurdo</li><li>Antarctica/Palmer</li>
                                        <li>Antarctica/Rothera</li><li>Antarctica/South_Pole</li><li>Antarctica/Syowa</li>
                                        <li>Antarctica/Vostok</li><li>Arctic/Longyearbyen</li>
                                    </ul>
                                </div>
                            <form id="savetz" action="settingsavetz" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn blue">Save</button>
                            </form>
                        </div>
                        <div id='tzsuccess'><p>Time Zone Changed Successfully!</p></div>
                    </div>
                </div>
            <!-- </div></center> -->


            <div class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="https://architasker.wordpress.com/">
                                   Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy; 2015 <a href="http://www.creative-tim.com">Architasker</a>, made with love for a better scheduler
                    </p>
                </div>
            </footer>

        </div>
    </div>


</body>

<!--   Core JS Files   -->
<script src="{% static 'js/DASHBOARD_JAVASCRIPT/jquery-1.10.2.js'%}" type="text/javascript"></script>
<script src="{% static 'js/DASHBOARD_JAVASCRIPT/bootstrap.min.js' %}" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="{% static 'js/DASHBOARD_JAVASCRIPT/bootstrap-checkbox-radio-switch.js' %}"></script>

<!--  Charts Plugin -->
<script src="{% static 'js/DASHBOARD_JAVASCRIPT/chartist.min.js' %}"></script>

<!--  Notifications Plugin    -->
<script src="{% static 'js/DASHBOARD_JAVASCRIPT/bootstrap-notify.js' %}"></script>

  <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="{% static 'js/DASHBOARD_JAVASCRIPT/light-bootstrap-dashboard.js' %}"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="{% static 'js/DASHBOARD_JAVASCRIPT/demo.js' %}"></script>

<!-- Settings Page Javascript -->
<script src="{% static 'js/SETTINGS_PAGE_JAVASCRIPT/settings_page.js' %}"></script>

    <!--<script type="text/javascript">
            {% if user_login_count == False %}
        $(document).ready(function(){

            $.notify({
                icon: 'pe-7s-bell',
                message: "Welcome to Architasker! Get started by setting up your account so we can begin adding tasks."

            },{
                type: 'info',
                timer: -1
            });

        });
        {% endif %}
    </script>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('#hideshowcurremail').on('click', function(event) {
                 jQuery('#currentemail').toggle(500);
            });
            jQuery('#hideshowcurrtz').on('click', function(event) {
                 jQuery('#currenttz').toggle(500);
            });
            jQuery('#tzDrop').on('click', function(event) {
                 jQuery('#tzDropdown').toggle(500);
            });
        });
    </script>

    <script type="text/javascript" charset="utf-8">

        $("#savename").submit(function(event) {

            /* stop form from submitting normally */
            event.preventDefault();

            /* get some values from elements on the page: */
            var $form = $( this ),
                url = $form.attr( 'action' );

            /* Send the data using post */
            $.ajax({
                type: "POST",
                url: url,
                datatype: "json",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    first_name: $('#firstname').val(),
                    last_name: $('#lastname').val(),
                },
                success: function(){
                    jQuery('#namesuccess').show();
                    setTimeout(function(){
                        $("#namesuccess").fadeOut("slow", function () {
                        });

                    }, 3000);
                },
            });
        });

        $("#savepass").submit(function(event) {

            /* stop form from submitting normally */
            event.preventDefault();

            /* get some values from elements on the page: */
            var $form = $( this ),
                url = $form.attr( 'action' );

            /* Send the data using post */
            $.ajax({
                type: "POST",
                url: url,
                datatype: "json",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    old_pass: $('#oldpass').val(),
                    new_pass: $('#newpass').val(),
                    new_pass2: $('#newpass2').val(),
                },
                success: function(){
                    jQuery('#passsuccess').show();
                    setTimeout(function(){
                        $("#passsuccess").fadeOut("slow", function () {
                        });

                    }, 3000);
                },
            });
        });

        $("#saveemail").submit(function(event) {

            /* stop form from submitting normally */
            event.preventDefault();

            /* get some values from elements on the page: */
            var $form = $( this ),
                url = $form.attr( 'action' );

            /* Send the data using post */
            $.ajax({
                type: "POST",
                url: url,
                datatype: "json",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    email: $('#email').val(),
                },
                success: function(){
                    $('#currentemail').text($('#email').val());
                    jQuery('#emailsuccess').show();
                    setTimeout(function(){
                        $("#emailsuccess").fadeOut("slow", function () {
                        });

                    }, 3000);
                },
            });
        });

        $("#savetz").submit(function(event) {

            /* stop form from submitting normally */
            event.preventDefault();

            /* get some values from elements on the page: */
            var $form = $( this ),
                url = $form.attr( 'action' );

            /* Send the data using post */
            $.ajax({
                type: "POST",
                url: url,
                datatype: "json",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    tz: selected_zone,
                },
                success: function(){
                    jQuery('#currenttz').hide(500);
                    jQuery('#tzDropdown').hide(500);
                    $li.removeClass('selected');
                    $('#currenttz').text(selected_zone);
                    jQuery('#tzsuccess').show();
                    setTimeout(function(){
                        $("#tzsuccess").fadeOut("slow", function () {
                        });

                    }, 3000);
                },
            });
        });

        var $li = $('#tzDropdown li').click(function() {
            selected_zone = $(this).text();
            $li.removeClass('selected');
            $(this).addClass('selected');
        });

    </script>-->
</html>
