{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
{% include 'css.html' %}
{% include 'javascript.html' %}

<script type="text/javascript" charset="utf-8">

	function init() {
		google_ids = [];

		var currently_selected_id = "";
		var current_view = 0;
		var prev_button = document.getElementsByClassName('dhx_cal_prev_button');
		var next_button = document.getElementsByClassName('dhx_cal_next_button');
		next_button[0].style.visibility='hidden';

		// HANDLE PREVIOUS EVENTS
		for (var i = 0; i < prev_button.length; i++) {
				prev_button[i].addEventListener('click', function() {
						current_view-=1;
						if (current_view > 0) {
							next_button[0].style.visibility='hidden';
						}
						else {
							next_button[0].style.visibility='visible';
						}
				});
		}
		// HANDLE FUTURE EVENTS
		for (var i = 0; i < next_button.length; i++) {
				next_button[i].addEventListener('click', function() {
						current_view+=1;
						if (current_view >= 0) {
							next_button[0].style.visibility='hidden';
						}
						else {
							next_button[0].style.visibility='visible';
						}
				});
		}

		scheduler.config.full_day = true;

		scheduler.config.xml_date="%Y-%m-%d %H:%i";

		scheduler.config.default_date = "%j %M %Y";

		var formatDateFunc = scheduler.date.date_to_str("%Y-%m-%dT%H:%i:%s");

		var weekDay = scheduler.date.date_to_str("%D")

		// I think this is where the bug is where the data posting to the view is causing the error for the start and end times
		var updateDayStatus = function(event_id, ev) {

			$('.ajaxProgress').show();
			$.ajax({
				type: "POST",
				url: "create_event/",
				dataType: "json",
				data: {
					csrfmiddlewaretoken: '{{ csrf_token }}',
					start: formatDateFunc(scheduler.getEvent(event_id).start_date),
					end: formatDateFunc(scheduler.getEvent(event_id).end_date),
					text: scheduler.getEvent(event_id).text,
					id: scheduler.getEvent(event_id).id,
					weekday: weekDay(scheduler.getEvent(event_id).start_date), //what if the event was a multi-day event?!?!
					color: '#34495e'

				},
			});
		};

		var deleteEvent = function(event_id, e) {
			$('.ajaxProgress').show();
			$.ajax({
				type: "POST",
				url: "delete_event/",
				dataType: "json",
				data: {
					csrfmiddlewaretoken: '{{ csrf_token }}',
					id: event_id
				},
			});
			return true;
		};

		scheduler.attachEvent("onEventDeleted", deleteEvent);
		scheduler.attachEvent("onClick", readonly_check);
		scheduler.attachEvent("onDblClick", readonly_check);



		// JS event for the onEventAdded function to do an AJAX call to the database for syncing the new event data
		scheduler.attachEvent("onEventAdded", updateDayStatus);

		scheduler.attachEvent("onEventChanged",function(id,ev){
    	$('.ajaxProgress').show();
			$.ajax({
				type: "POST",
				url: "update_event/",
				dataType: "json",
				data: {
					csrfmiddlewaretoken: '{{ csrf_token }}',
					start: formatDateFunc(scheduler.getEvent(id).start_date),
					end: formatDateFunc(scheduler.getEvent(id).end_date),
					text: ev.text,
					id: id

				},
			});
    		return true;
		});

		// Create a new date for gatehring the default times that load into the calendar
		var d = new Date();

		//Get an integer value for getting the full year of the current year in the calendar
		var calendar_year = d.getFullYear();

		//Get the current default month to load into the initial view for the calendar
		var calendar_month = d.getMonth();

		//Get the current day for the calendar to load into the default value for the calendar
		var calendar_day = d.getDate();

		// document.write({{ mon.0 }});


		scheduler.attachEvent("onBeforeDrag", readonly_check);

		// scheduler.config.readonly = true;
		scheduler.init('scheduler_here',new Date(calendar_year,calendar_month,calendar_day),"week");

		scheduler.parse( [
				{% for monday_tasks in mon %}
				{% if monday_tasks.authenticated_user.username == current_user %}
					{
						text: '{{ monday_tasks.task_name }}',
						id: '{{ monday_tasks.special_event_id }}',
						start_date: '{{ monday_tasks.start_time }}'.substring(0, 10)+" "+'{{ monday_tasks.start_time }}'.substring(11, 16),
						end_date: '{{ monday_tasks.end_time }}'.substring(0, 10)+" "+'{{ monday_tasks.end_time }}'.substring(11, 16),
						color: '{{ monday_tasks.color }}'
					},
				{% endif %}
				{% endfor %}
				{% for tuesday_tasks in tues %}
				{% if tuesday_tasks.authenticated_user.username == current_user %}
					{
						text: '{{ tuesday_tasks.task_name }}',
						id: '{{ tuesday_tasks.special_event_id }}',
						start_date: '{{ tuesday_tasks.start_time }}'.substring(0, 10)+" "+'{{ tuesday_tasks.start_time }}'.substring(11, 16),
						end_date: '{{ tuesday_tasks.end_time }}'.substring(0, 10)+" "+'{{ tuesday_tasks.end_time }}'.substring(11, 16),
						color: '{{ tuesday_tasks.color }}'
					},
					{% endif %}
				{% endfor %}
				{% for wednesday_tasks in wed %}
				{% if wednesday_tasks.authenticated_user.username == current_user %}
					{
						text: '{{ wednesday_tasks.task_name }}',
						id: '{{ wednesday_tasks.special_event_id }}',
						start_date: '{{ wednesday_tasks.start_time }}'.substring(0, 10)+" "+'{{ wednesday_tasks.start_time }}'.substring(11, 16),
						end_date: '{{ wednesday_tasks.end_time }}'.substring(0, 10)+" "+'{{ wednesday_tasks.end_time }}'.substring(11, 16),
						color: '{{ wednesday_tasks.color }}'
					},
					{% endif %}
				{% endfor %}
				{% for thursday_tasks in thurs %}
				{% if thursday_tasks.authenticated_user.username == current_user %}
					{
						text: '{{ thursday_tasks.task_name }}',
						id: '{{ thursday_tasks.special_event_id }}',
						start_date: '{{ thursday_tasks.start_time }}'.substring(0, 10)+" "+'{{ thursday_tasks.start_time }}'.substring(11, 16),
						end_date: '{{ thursday_tasks.end_time }}'.substring(0, 10)+" "+'{{ thursday_tasks.end_time }}'.substring(11, 16),
						color: '{{ thursday_tasks.color }}'
					},
					{% endif %}
				{% endfor %}
				{% for friday_tasks in fri %}
				{% if friday_tasks.authenticated_user.username == current_user %}
					{
						text: '{{ friday_tasks.task_name }}',
						id: '{{ friday_tasks.special_event_id }}',
						start_date: '{{ friday_tasks.start_time }}'.substring(0, 10)+" "+'{{ friday_tasks.start_time }}'.substring(11, 16),
						end_date: '{{ friday_tasks.end_time }}'.substring(0, 10)+" "+'{{ friday_tasks.end_time }}'.substring(11, 16),
						color: '{{ friday_tasks.color }}'
					},
					{% endif %}
				{% endfor %}
				{% for saturday_tasks in sat %}
				{% if saturday_tasks.authenticated_user.username == current_user %}
					{
						text: '{{ saturday_tasks.task_name }}',
						id: '{{ saturday_tasks.special_event_id }}',
						start_date: '{{ saturday_tasks.start_time }}'.substring(0, 10)+" "+'{{ saturday_tasks.start_time }}'.substring(11, 16),
						end_date: '{{ saturday_tasks.end_time }}'.substring(0, 10)+" "+'{{ saturday_tasks.end_time }}'.substring(11, 16),
						color: '{{ saturday_tasks.color }}'
					},
					{% endif %}
				{% endfor %}
				{% for sunday_tasks in sun %}
				{% if sunday_tasks.authenticated_user.username == current_user %}
					{
						text: '{{ sunday_tasks.task_name }}',
						id: '{{ sunday_tasks.special_event_id }}',
						start_date: '{{ sunday_tasks.start_time }}'.substring(0, 10)+" "+'{{ sunday_tasks.start_time }}'.substring(11, 16),
						end_date: '{{ sunday_tasks.end_time }}'.substring(0, 10)+" "+'{{ sunday_tasks.end_time }}'.substring(11, 16),
						color: '{{ sunday_tasks.color }}'
					},
					{% endif %}
				{% endfor %}
		], "json");

		//Array to store all the currently gathered google events for the user on the calendar


		//Storing all the google events to enable ability to make read-only
		{% for monday_tasks in mon %}
				{% if monday_tasks.is_google_task %}
					google_ids.push('{{ monday_tasks.special_event_id }}');
				{% endif %}
		{% endfor %}
		{% for tuesday_tasks in tues %}
			{% if tuesday_tasks.is_google_task %}
				google_ids.push('{{ tuesday_tasks.special_event_id }}');
			{% endif %}
		{% endfor %}
		{% for wednesday_tasks in wed %}
			{% if wednesday_tasks.is_google_task %}
				google_ids.push('{{ wednesday_tasks.special_event_id }}');
			{% endif %}
		{% endfor %}
		{% for thursday_tasks in thurs %}
			{% if thursday_tasks.is_google_task %}
				google_ids.push('{{ thursday_tasks.special_event_id }}');
			{% endif %}
		{% endfor %}
		{% for friday_tasks in fri %}
			{% if friday_tasks.is_google_task %}
				google_ids.push('{{ friday_tasks.special_event_id }}');
			{% endif %}
		{% endfor %}
		{% for saturday_tasks in sat %}
			{% if saturday_tasks.is_google_task %}
				google_ids.push('{{ saturday_tasks.special_event_id }}');
			{% endif %}
		{% endfor %}
		{% for sunday_tasks in sun %}
			{% if sunday_tasks.is_google_task %}
				google_ids.push('{{ sunday_tasks.special_event_id }}');
			{% endif %}
		{% endfor %}


		//Function to deal with making google tasks read only
		function readonly_check(id) {

			var found_google_task = false;

			for (i = 0; i < google_ids.length; i++) {
				if (google_ids[i] == id) {
					found_google_task = true;
				}
			}
			if (found_google_task) {
				var readOnly = scheduler.getEvent(id).readonly;
				scheduler.config.drag_move = true;
				scheduler.config.drag_resize = readOnly;
				return false;
			}
			else {
				return true;
			}
		}

	}

</script>


<style type="text/css" media="screen">
	html, body{
		margin:0px;
		padding:0px;
		height:90%;
	}

	.dhx_calendar_click {
		background-color: #C2D5FC !important;
	}
</style>

</head>
<body onload="init();">
	{% if user_is_authenticated == True %}
		   <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
		      <div class="dhx_cal_navline">
		         <div class="dhx_cal_prev_button">&nbsp;</div>
		         <div class="dhx_cal_next_button">&nbsp;</div>
		         <div class="dhx_cal_today_button"></div>
		         <div class="dhx_cal_date"></div>
		         <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
		         <div class="dhx_cal_tab rounding_week_tab" name="week_tab" style="right:140px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;"></div>
		      </div>
		      <div class="dhx_cal_header">
		      </div>
		      <div class="dhx_cal_data">
		      </div>
		   </div>

		<form action="/sync" method="get">
			{% csrf_token %}
		<input type="submit" value="Sync Google Calendar" class="btn waves-effect waves-light pink darken-1">
		</form>

		<form action="/logout" method="GET">
			{% csrf_token %}
		<input type="submit" value="Logout" class="btn waves-effect waves-light pink darken-1">
		</form>

		{% else %}

			<img src="https://c2.staticflickr.com/2/1202/1399604858_8bd193e59c.jpg">
			<h1> You're not authenticated....</h1>
			<a href="/oauth">Click Here to authenticate via OAUTH</a>

		{% endif %}

</body>
</html>
