{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
{% include 'css.html' %}
{% include 'javascript.html' %}

<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.3.1111/styles/kendo.common.min.css"/>
<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.3.1111/styles/kendo.rtl.min.css"/>
<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.3.1111/styles/kendo.silver.min.css"/>
<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.3.1111/styles/kendo.mobile.all.min.css"/>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://kendo.cdn.telerik.com/2015.3.1111/js/kendo.all.min.js"></script>

<script type="text/javascript" charset="utf-8">
	function init() {
		scheduler.config.multi_day = true;

		// Return today's date and time
		var currentTime = new Date();

		// returns the month (from 0 to 11)
		var month = currentTime.getMonth() + 1;

		// returns the day of the month (from 1 to 31)
		var day = currentTime.getDate();

		// returns the year (four digits)
		var year = currentTime.getFullYear();


		scheduler.config.xml_date="%Y-%m-%d %H:%i";
		scheduler.config.default_date = "%j %M %Y";

		var updateDayStatus = function(event_id, ev) {
			$('.ajaxProgress').show();
			$.ajax({
				type: "POST",
				url: "create_event/",
				dataType: "json",
				data: {
					csrfmiddlewaretoken: '{{ csrf_token }}',
					start: scheduler.getEvent(event_id).start_date,
					end: scheduler.getEvent(event_id).end_date,
					text: scheduler.getEvent(event_id).text,
					id: scheduler.getEvent(event_id).id,
					color: scheduler.getEvent(event_id).color
				},
			});
				// var day = scheduler.date.date_part(new Date(ev.start_date));
				// var next_day = scheduler.date.add(day, 1, "day");
				// var events = scheduler.getEvents(day, next_day);

				// return true;
		};

		// scheduler.attachEvent("onClick", function(id){
		//
		// 	scheduler.getEvent(id).color="blue";
		// });


		scheduler.attachEvent("onEventAdded", updateDayStatus);
		scheduler.attachEvent("onEventChanged", updateDayStatus);
		//scheduler.attachEvent("onEventChanged", updateDayStatus);
		//scheduler.attachEvent("onEventDeleted", updateDayStatus);

		//The icons are defined custom in the custom_icons.css file in the static dir for CSS
		scheduler.config.icons_select = ['icon_details', 'icon_delete', 'icon_blue', 'icon_green', 'icon_yellow', 'icon_orange'];

		scheduler.locale.labels.icon_blue = "Blue";
		scheduler.locale.labels.icon_green = "Green";
		scheduler.locale.labels.icon_yellow = "Yellow";
		scheduler.locale.labels.icon_orange = "Orange";

		scheduler.init('scheduler_here',new Date(year,0,month),"week");

		scheduler._click.buttons.blue = function(id){
			scheduler.getEvent(id).color = "#2196F3";
			scheduler.updateEvent(id);
			updateDayStatus(id);
		};

		scheduler._click.buttons.green = function(id){
			scheduler.getEvent(id).color = "#8BC34A";
			scheduler.updateEvent(id);
			updateDayStatus(id);
		};

		scheduler._click.buttons.yellow = function(id){
			scheduler.getEvent(id).color = "#FFC107";
			scheduler.updateEvent(id);
			updateDayStatus(id);
		};

		scheduler._click.buttons.orange = function(id){
			scheduler.getEvent(id).color = "#FF9800";
			scheduler.updateEvent(id);
			updateDayStatus(id);
		};

		scheduler.parse( [
				{% for monday_tasks in mon %}
					{
						text: '{{ monday_tasks.task_name }}',
						start_date: '2015-12-14',
						end_date: '2015-12-14',
						color: 'red'
					},
				{% endfor %}
				{% for tuesday_tasks in tues %}
					{
						text: '{{ tuesday_tasks.task_name }}',
						start_date: '2015-12-15',
						end_date: '2015-12-15'
					},
				{% endfor %}
				{% for wednesday_tasks in wed %}
					{
						text: '{{ wednesday_tasks.task_name }}',
						start_date: '2015-12-16',
						end_date: '2015-12-16'
					},
				{% endfor %}
				{% for thursday_tasks in thurs %}
					{
						text: '{{ thursday_tasks.task_name }}',
						start_date: '2015-12-17',
						end_date: '2015-12-17'
					},
				{% endfor %}
				{% for friday_tasks in fri %}
					{
						text: '{{ friday_tasks.task_name }}',
						start_date: '2015-12-18',
						end_date: '2015-12-18'
					},
				{% endfor %}
				{% for saturday_tasks in sat %}
					{
						text: '{{ saturday_tasks.task_name }}',
						start_date: '2015-12-19',
						end_date: '2015-12-19'
					},
				{% endfor %}
				{% for sunday_tasks in sun %}
					{
						text: '{{ sunday_tasks.task_name }}',
						start_date: '2015-12-20',
						end_date: '2015-12-19'
					},
				{% endfor %}
		], "json");

		scheduler.addEvent("16-12-2015 09:00","16-12-2015 12:00","Meeting", {holder:"John"});



	}

	function show_minical(){
		if (scheduler.isCalendarVisible())
			scheduler.destroyCalendar();
		else
			scheduler.renderCalendar({
				position:"dhx_minical_icon",
				date:scheduler._date,
				navigation:true,
				handler:function(date,calendar){
					scheduler.setCurrentView(date);
					scheduler.destroyCalendar()
				}
			});
	}





</script>


<style type="text/css" media="screen">
	html, body{
		margin:0px;
		padding:0px;
		height:90%;
	}

	.dhx_calendar_click {
		background-color: #C2D5FC !important;
	}
</style>

</head>
<body onload="init();">


	{% if user_is_authenticated == True %}

		{% if event_length > 0 %}

		   <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
		      <div class="dhx_cal_navline">
		         <div class="dhx_cal_prev_button">&nbsp;</div>
		         <div class="dhx_cal_next_button">&nbsp;</div>
		         <div class="dhx_cal_today_button"></div>
		         <div class="dhx_cal_date"></div>
		         <div class="dhx_minical_icon" id="dhx_minical_icon" onclick="show_minical()">&nbsp;</div>
		         <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
		         <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
		         <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
		      </div>
		      <div class="dhx_cal_header">
		      </div>
		      <div class="dhx_cal_data">
		      </div>
		   </div>


				<form action="/sync" method="get">
					{% csrf_token %}
				<input type="submit" value="Sync Google Calendar" class="btn waves-effect waves-light pink darken-1">
				</form>


		{% else %}
		<h1>YOU HAVE NO EVENTS</h1>

		<form action="/sync" method="get">
			{% csrf_token %}
		<input type="submit" value="Sync Google Calendar">
		</form>

		{% endif %}

		{% else %}

			<img src="https://c2.staticflickr.com/2/1202/1399604858_8bd193e59c.jpg">
			<h1> You're not authenticated....</h1>
			<a href="/oauth">Click Here to authenticate via OAUTH</a>



		{% endif %}
		<!-- <input name="eventColor" type="color" onchange="getColorVal(eventColor.value)"/> -->

</body>
</html>
