{% load static %}
{% load staticfiles %}

<!-- <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
<link href="{% static 'css/fullcalendar.css' %}" rel="stylesheet">
<link href="{% static 'css/materialize.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<link href="{% static 'min/plugin-min.css' %}" rel="stylesheet">
<link href="{% static 'min/custom-min.css' %}" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="{% static 'css/fullcalendar.print.css' %}" rel="stylesheet" media='print'>
<link href="{% static 'css/override.css' %}" rel="stylesheet"> -->

<link rel="stylesheet" href="{% static 'css/dhtmlxscheduler_flat.css' %}" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="{% static 'css/custom_icons.css' %}" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel='stylesheet' href="{% static 'css/spectrum.css' %}" >
<link rel="stylesheet" href="{% static 'calendar/css/dhtmlxscheduler_flat.css' %}" type="text/css" media="screen" title="no title" charset="utf-8">
<!-- FONTS -->
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

<!-- For tasks -->
<link rel="stylesheet" href="{% static 'tasks/css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'tasks/css/main.css' %}">
<link rel="stylesheet" href="{% static 'tasks/css/jquery.steps.css' %}">

<!-- For datepicker -->
<link rel="stylesheet" href="{% static 'datepicker/jquery-ui.theme2.css' %}">

<!-- For radio slider -->
<link rel="stylesheet" href="{% static 'slider/css/radios-to-slider.css' %}">

<!-- For percent slider -->
<link href="{% static 'slider_percent/css/nouislider.css' %}" rel="stylesheet"> 

<!-- For morphing button -->
<link rel="stylesheet" type="text/css" href="{% static 'modal_window/css/demo2.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'modal_window/css/component3.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'modal_window/css/content3.css' %}" />

<!-- For dropdown -->
<link href="{% static 'dropdown/css/bootstrap-select.css' %}" rel="stylesheet"> 


