{% load static %}
{% load staticfiles %}

<!-- <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
<link href="{% static 'css/fullcalendar.css' %}" rel="stylesheet">
<link href="{% static 'css/materialize.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<link href="{% static 'min/plugin-min.css' %}" rel="stylesheet">
<link href="{% static 'min/custom-min.css' %}" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="{% static 'css/fullcalendar.print.css' %}" rel="stylesheet" media='print'>
<link href="{% static 'css/override.css' %}" rel="stylesheet"> -->
<link rel="stylesheet" href="{% static 'css/dhtmlxscheduler.css' %}" type="text/css" media="screen" title="no title" charset="utf-8">

<!-- FONTS -->
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
