{% load staticfiles %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/fullcalendar.min.js' %}"></script>
<script src="{% static 'js/dhtmlxscheduler.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/dhtmlxscheduler_minical.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/jscolor.js' %}"></script>
<script src="{% static 'js/spectrum.js' %}"></script>
