{% load static %}
{% load staticfiles %}


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/CALENDAR_PAGE_JAVASCRIPT/fullcalendar.min.js' %}"></script>
<script src="{% static 'js/CALENDAR_PAGE_JAVASCRIPT/dhtmlxscheduler.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/CALENDAR_PAGE_JAVASCRIPT/dhtmlxscheduler_minical.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'css/ext/dhtmlxscheduler_readonly.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'calendar/js/dhtmlxscheduler.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'calendar/js/dhtmlxscheduler_minical.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'calendar/css/ext/dhtmlxscheduler_readonly.js' %}" type="text/javascript" charset="utf-8"></script>

<!-- For tasks -->
<script src="{% static 'tasks/js/modernizr-2.6.2.min.js' %}"></script>

<script src="{% static 'tasks/js/jquery.cookie-1.3.1.js' %}"></script>
<script src="{% static 'tasks/js/jquery.steps.min.js' %}"></script>
<script src="{% static 'tasks/js/jquery.validate.js' %}"></script>


<!-- For datepicker -->
<!-- <script src="{% static 'datepicker/external/jquery/jquery.js' %}"></script> -->
<script src="{% static 'datepicker/jquery-ui.js' %}"></script>

<!-- For radioslider -->
<script src="{% static 'slider/js/jquery.radios-to-slider.js' %}"></script>

<!-- For percent slider -->
<script src="{% static 'slider_percent/js/nouislider.js' %}"></script>


<!-- <script src="{% static 'modal_window/js/modernizr.custom.js' %}"></script> -->
<script src="{% static 'modal_window/js/classie.js' %}"></script>
<script src="{% static 'modal_window/js/uiMorphingButton_fixed.js' %}"></script>