{% load static %}
{% load staticfiles %}


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/CALENDAR_PAGE_JAVASCRIPT/fullcalendar.min.js' %}"></script>
<script src="{% static 'js/CALENDAR_PAGE_JAVASCRIPT/dhtmlxscheduler.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/CALENDAR_PAGE_JAVASCRIPT/dhtmlxscheduler_minical.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'css/ext/dhtmlxscheduler_readonly.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'calendar/js/dhtmlxscheduler.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'calendar/js/dhtmlxscheduler_minical.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'calendar/css/ext/dhtmlxscheduler_readonly.js' %}" type="text/javascript" charset="utf-8"></script>
